<div class="header-area">
    <div class="container">
        <div class="rowMenu">
            <div class="col-md-3">
                <div class="logo">
                    <h1><a href="./"><img src="../../assets/img/BoaCompra.png"></a></h1>
                </div>
            </div>
            <div class="col-md-9">
                <div class="user-menu ajustMenu">
                    <ul>
                        <li><a href="login" *ngIf="!authservice.currentUser"><i class="fa fa-user ajustIcon"></i> Login</a></li>
                        <li *ngIf="authservice.currentUser"><a href="comprados"><i class="fas fa-shopping-basket ajustIcon"></i> Minhas Compras</a></li>
                        <li><a href="cart"><i class="fas fa-shopping-cart ajustIcon"></i> Meu Carrinho</a></li>
                        <li><a href="shop"><i class="fas fa-store ajustIcon"></i> Comprar</a></li>
                        <li><a href="admin" *ngIf="adminPermission == true"><i class="fas fa-store ajustIcon"></i> Admin</a></li>
                    </ul>
                </div>     
            </div>
        </div>
    </div>
    <div class="menuPrincipal">
        <div class="container">
            <div class="rowMenu">
                <div class="">
                    <ul class="nav navbar-nav liNav">
                        <li class="active"><a href="./">Home</a></li>
                        <li><a href="shop">Pagina de Compra</a></li>
                        <li><a href="#ultimosAdd">Ultimos Adicionados</a></li>
                        <li><a href="#maisVendidos">Mais Vendidos</a></li>
                        <li><a href="#contatos">Contatos</a></li>
                        <li *ngIf="authservice.currentUser"><a href="#">Bem Vindo: {{authservice.currenteUserName}}</a></li>
                        <li *ngIf="authservice.currentUser"><a class="nav-link" (click)="authservice.sair()">
                            Sair
                            <i class="fas fa-sign-out-alt"></i>
                          </a></li>
                          <li *ngIf="!authservice.currentUser"> <a class="nav-link" (click)="authservice.sair()">
                            Acessar conta
                            <i class="fas fa-sign-in-alt"></i>
                          </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 
