<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2><span>Boa Compra</span></h2>
                    <p>Site Desenvolvido para a compra e venda de produtos digitais, ótimo para negocios de todos os
                        nichos e para todas as plataformas</p>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Contato</h2>
                    <ul>
                        <li><a href="#">Contratar</a></li>
                        <li><a href="#">Sobre</a></li>
                        <li><a href="#">Parceiros</a></li>
                        <li><a href="#">Email</a></li>
                        <li><a href="#">Rede Social</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Suporte Cliente</h2>
                    <ul>
                        <li><a href="#">Sobre Funcionalidade</a></li>
                        <li><a href="#">Sobre Produtos</a></li>
                        <li><a href="#">Sobre a Conta</a></li>
                        <li><a href="#">Sobre Compra</a></li>
                        <li><a href="#">Sobre Outros</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">E-mail Promocional</h2>
                    <p>Cadastre seu e-mail para receber atualização dos preços e de produtos no nosso site</p>
                    <div class="newsletter-form">
                        <form action="#">
                            <input type="email" placeholder="Cadastrar e-mail">
                            <input type="submit" value="Cadastre-se">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright cartAjust">
                    <p>&copy; 2021 BoaCompra. Todos os direitos reservados. </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-mastercard cartAjust"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div>