<app-header></app-header>

<div class="single-product-area ajusteFundo">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="row">
            <div class="col-sm-6">
              <div class="product-images">
                <div class="product-main-img">
                  <img src="../../assets/imgs/{{produtosData.photos}}" class="ajusteImg" alt="">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="product-inner">
                <h2 class="product-name" id="topPage">{{produtosData.productName}}</h2>
                <div class="product-inner-price">
                  <ins>R$ {{produtosData.productPrice}}</ins> <del>$1000.00</del>
                </div>
                <form action="" class="cart">
                  <button class="add_to_cart_button" type="submit" (click)="addCart()" class="add-to-cart-link">Carrinho <i class="fa fa-shopping-cart"></i></button>
                </form>

                <div class="product-inner-category">
                  <h4>Categoria</h4><p><a>{{produtosData.productCategory}}</a></p>
                </div>

                <div role="tabpanel">
                  <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                        data-toggle="tab">Descrição</a></li>
                    <!-- <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                        data-toggle="tab">Reviews</a></li> -->
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                      <h2>Descrição do Produto</h2>
                      <p>{{produtosData.description}}</p>
                    </div>
                    <!-- <div role="tabpanel" class="tab-pane fade" id="profile">
                      <h2>Reviews</h2>
                      <div class="submit-review">
                        <p><label for="name">Name</label> <input name="name" type="text"></p>
                        <p><label for="email">Email</label> <input name="email" type="email">
                        </p>
                        <div class="rating-chooser">
                          <p>Your rating</p>

                          <div class="rating-wrap-post">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p><label for="review">Your review</label> <textarea name="review" id="" cols="30"
                            rows="10"></textarea></p>
                        <p><input type="submit" value="Submit"></p>
                      </div>
                    </div> -->
                  </div>
                </div>

              </div>
            </div>
            <div class="tabela col-sm-12">
              <h2 class="tituloTabela">Caracteristicas adicionais</h2>
              <table class="table">

                <tbody>
                  <th scope="row">Codigo</th>
                  <th scope="row">Avaliação</th>
                  <th scope="row">Marca</th>
                  <tr>
                    <td>{{produtosData.barCode}}</td>
                    <td>{{produtosData.service}}</td>
                    <td>{{produtosData.productBrand}}</td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <form class="formulario" method="POST" #frm="ngForm" (ngSubmit)="addAddress(frm)">
          <div>
            <h2>Forma de pagamento</h2>

            <div class="pagamento">
              <div class="form-check" name="cartao">
                <input class="form-check-input ajusteCartao" type="radio" (click)="pay(produtosData.productPrice)" name="raidoCard"
                  value="CARTAO" (change)="changeTipo(1)" [(ngModel)]="payment.typePayment">
                <label class="form-check-label" for="flexRadioDefault1">
                  <i class="far fa-credit-card"></i>
                  Cartão de Credito
                </label>
              </div>
              <div class="form-check" name="boleto">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="BOLETO"
                  (change)="changeTipo(2)" [(ngModel)]="payment.typePayment" disabled>
                <label class="form-check-label" for="flexRadioDefault2">
                  <i class="fas fa-file-alt"></i>
                  Boleto
                </label>
              </div>
            </div>

            <input type="text" class="form-control" placeholder="Digite seu nome completo" name="name"
              [(ngModel)]="payment.name" required>

            <input type="text" class="form-control" placeholder="CEP" name="cep" [(ngModel)]="address.cep" required>

            <input type="text" class="form-control" placeholder="Endereço" name="logradouro"
              [(ngModel)]="address.logradouro" required>

            <input type="text" class="form-control" placeholder="Complemento" name="complemento"
              [(ngModel)]="address.complemento" required>

            <input type="text" class="form-control" placeholder="Bairro" name="bairro" [(ngModel)]="address.bairro"
              required>

            <input type="text" class="form-control" placeholder="UF" name="uf" [(ngModel)]="address.uf" required>

            <h3>Descrição da entrega</h3>
            <textarea name="descricao_address" class="ajusteText" [(ngModel)]="address.descricao_address" cols="30"
              rows="3" required></textarea>

            <div class="divButao">
              <button type="button" routerLink="/" class="btn btn-danger ajusteBtn btn-lg">
                <i class="fas fa-backspace"></i>
                Voltar
              </button>
              <button type="submit" class="btn btn-success btn-lg" [disabled]="frm.invalid">
                Comprar
                <i class="fas fa-check"></i>
              </button>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="related-products-wrapper">
          <h2 class="related-products-title">Também são vistos</h2>
          <div
            class="product-carousel owl-stage-outer related-products-carousel owl-carousel owl-theme owl-responsive-1200 owl-loaded">
            <ng-container *ngFor="let prod of produtos | slice:0:4">
              <div class="single-product"
                style="transform: translate3d(0px, 0px, 0px);transition: all 0s ease 0s;width: 226px;">
                <div class="product-f-image">
                  <img src="../../assets/imgs/{{prod.photos}}" alt="">
                  <div class="product-hover">
                    <a (click)="addCart()" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Carrinho</a>
                    <a (click)="goToModalComprarByService(prod)" class="view-details-link"><i
                        class="fa fa-shopping-basket"></i>Comprar</a>
                  </div>
                </div>

                <h2><a>{{ prod.productName }}</a></h2>

                <div class="product-carousel-price">
                  <ins>{{ prod.productPrice }}</ins> <del>R$5000</del>
                </div>
                <div class="product-option-shop">
                  <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                    rel="nofollow" (click)="goToModalComprarByService(prod)">Comprar</a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>