<app-header></app-header>

<div class="single-product-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="product-content-right">
          <div class="row">
            <div class="col-sm-6">
              <div class="product-images">
                <div class="product-main-img">
                  <img src="../../assets/imgs/{{produtosData.photos}}" alt="">
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="product-inner">
                <h2 class="product-name">{{produtosData.productName}}</h2>
                <div class="product-inner-price">
                  <ins>{{produtosData.productPrice}}</ins> <del>$1000.00</del>
                </div>
                <form action="" class="cart">
                  <div class="quantity">
                    <input type="number" size="4" class="input-text qty text" title="Qty" value="1" name="quantity"
                      min="1" step="1">
                  </div>
                  <button class="add_to_cart_button" type="submit">Carrinho</button>
                </form>

                <div class="product-inner-category">
                  <p>Categoria: <a href="#">{{produtosData.productCategory}}</a>.</p>
                </div>

                <div role="tabpanel">
                  <ul class="product-tab" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                        data-toggle="tab">Descrição</a></li>
                    <!-- <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                        data-toggle="tab">Reviews</a></li> -->
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home">
                      <h2>Descrição do Produto</h2>
                      <p>{{produtosData.description}}</p>
                    </div>
                    <!-- <div role="tabpanel" class="tab-pane fade" id="profile">
                      <h2>Reviews</h2>
                      <div class="submit-review">
                        <p><label for="name">Name</label> <input name="name" type="text"></p>
                        <p><label for="email">Email</label> <input name="email" type="email">
                        </p>
                        <div class="rating-chooser">
                          <p>Your rating</p>

                          <div class="rating-wrap-post">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                        </div>
                        <p><label for="review">Your review</label> <textarea name="review" id="" cols="30"
                            rows="10"></textarea></p>
                        <p><input type="submit" value="Submit"></p>
                      </div>
                    </div> -->
                  </div>
                </div>

              </div>
            </div>
            <div class="tabela col-sm-8">
              <table class="table">
        
                <tbody>
                  <th scope="row">Codigo</th>
                  <th scope="row">Avaliação</th>
                  <th scope="row">Marca</th>
                  <tr>
                    <td>{{produtosData.barCode}}</td>
                    <td>{{produtosData.service}}</td>
                    <td>{{produtosData.productBrand}}</td>
                  </tr>
                </tbody>
        
              </table>
            </div>  
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <form class="formulario" method="POST" #frm="ngForm" (ngSubmit)="addAddress(frm)">
          <div>
            <h2>Forma de pagamento</h2>

            <div class="pagamento">
              <div class="form-check" name="cartao">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="CARTAO"
                  (change)="changeTipo(1)" [(ngModel)]="payment.typePayment">
                <label class="form-check-label" for="flexRadioDefault1">
                  <i class="far fa-credit-card"></i>
                  Cartão de Credito
                </label>
              </div>
              <div class="form-check" name="boleto">
                <input class="form-check-input" type="radio" name="flexRadioDefault" value="BOLETO"
                  (change)="changeTipo(2)" [(ngModel)]="payment.typePayment">
                <label class="form-check-label" for="flexRadioDefault2">
                  <i class="fas fa-file-alt"></i>
                  Boleto
                </label>
              </div>
            </div>

            <div *ngIf="tipoPagamento === 2">
              <h6>CODIGO DE BARRAS</h6>
              <br>
              <input type="number" class="form-control" disabled
                placeholder="45645645546 5 646445466 5455645546 5 6545565465">
            </div>

            <div *ngIf="tipoPagamento === 1">
              <h6>DADOS DO CARTÃO</h6>
              <br>
              <input type="number" class="form-control" placeholder="numero do cartão" name="number"
                [(ngModel)]="payment.number">

              <input type="number" class="form-control" placeholder="cvv" name="cv" [(ngModel)]="payment.cv">

              <input type="date" class="form-control" name="date" [(ngModel)]="payment.date">

            </div>
            <input type="text" class="form-control" placeholder="Digite seu nome completo" name="name"
              [(ngModel)]="payment.name">

            <input type="text" class="form-control" placeholder="CEP" name="cep" [(ngModel)]="address.cep" required>

            <input type="text" class="form-control" placeholder="Endereço" name="logradouro"
              [(ngModel)]="address.logradouro">

            <input type="text" class="form-control" placeholder="Complemento" name="complemento"
              [(ngModel)]="address.complemento">

            <input type="text" class="form-control" placeholder="Bairro" name="bairro" [(ngModel)]="address.bairro">

            <input type="text" class="form-control" placeholder="UF" name="uf" [(ngModel)]="address.uf">

            <h3>Descrição da entrega</h3>
            <textarea name="descricao_address" [(ngModel)]="address.descricao_address" id="" cols="30"
              rows="3"></textarea>

            <div class="botao">
              <button type="button" routerLink="/modalComprar" class="btn btn-primary">
                <i class="fas fa-backspace"></i>
                Voltar
              </button>
              <button type="submit" class="btn btn-success" [disabled]="frm.invalid">
                Comprar
                <i class="fas fa-check"></i>
              </button>
            </div>

          </div>
        </form>
      </div>
      <div class="col-md-12">
        <div class="related-products-wrapper">
          <h2 class="related-products-title">Também são vistos</h2>
          <div
            class="product-carousel owl-stage-outer related-products-carousel owl-carousel owl-theme owl-responsive-1200 owl-loaded">
            <ng-container *ngFor="let prod of produtos | slice:0:4">
              <div class="single-product"
                style="transform: translate3d(0px, 0px, 0px);transition: all 0s ease 0s;width: 226px;">
                <div class="product-f-image">
                  <img src="../../assets/imgs/{{prod.photos}}" alt="">
                  <div class="product-hover">
                    <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Carrinho</a>
                    <a href="single-product" class="view-details-link"><i
                        class="fa fa-shopping-basket"></i>Comprar</a>
                  </div>
                </div>

                <h2><a href="single-product">{{ prod.productName }}</a></h2>

                <div class="product-carousel-price">
                  <ins>$400.00</ins> <del>R$5000</del>
                </div>
                <div class="product-option-shop">
                  <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70"
                    rel="nofollow" href="single-product">Comprar</a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>