.estiloGrafico {
  height: 384px;
  width: 768px;
}
.rowMenu {
  margin: 0;
  padding: 0;
}
.ajustMenu {
  margin-top: 3em;
}
.ajustIcon {
  margin-right: 0.3em;
  margin-top: 0.11em;
}
.menuPrincipal{
  background-color: #f8f8f8;
}
.container {
  padding-left: 0;
}
.liNav {
  display: block;
  margin-left: 10em;;
}

