.botaoHome {
  margin-left: 32em;
  margin-top: 3em;
}

ngb-carousel .wrapper {
  position: relative;
  height: 0;
  padding-top: 55%;
  /* Keep ratio for 900x500 images */
}

ngb-carousel .wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.owl-carousel.owl-loaded {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.subIndex {
  margin-top: 2em;
}